html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ffffff;
  font-family: Montserrat;

}

h1 h4{
  font-family: Ubuntu;
}


ul.list li{
  font-weight: bold;
  display: inline;
  padding: 0px 40px 10px;
  text-decoration: inherit;
  font-size: 1.5rem;
}

ul.nav li{
  font-weight: bolder;
  font-size: 1.7rem;
}

ul.mobiles li{
  display: inline;
  padding: 10px 30px 10px;
}

.optionBar {
  padding: 10px;
}

.container {
  color: #ffffff;
}

.navbar-default {
  background-color: #89c1af;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
  li a:hover {
    color: #ff4c6 !important;
}

hr{
  background-color: black;
}

#footer {
  background-color: #89c1af;
  text-align: center;
  padding: 5% 0 5%;

}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}


.icons {
  margin: 10px;
  margin-top: 20px;
}

img {
  hover:
}
